/* ====================
 * Filename: footer.css
 * Author: Antony Nguyen
 * Date Last Updated: September 20, 2018
 * Media: Screen
 * ----------
 * File for the footer on all pages of the website
 ====================== */

.fa {
  color: rgb(255, 255, 255);
}

.fa:hover {
  color: rgb(0, 98, 155);
  transition-duration: .3s;
}

.footer {
  text-align: center;
}

.footer-seperator {
  padding-bottom: 4%;
}

#footerList:after {
  content: normal !important;
}

.footer-list-item {
  margin-bottom: 0 !important;
}

.footer-text {
  font-size: 1.4em;
  color: rgb(255, 255, 255);
}

.list-unstyled {
  text-align: center;
  margin-bottom: 0 !important;
}
