.fa {
  color: rgb(255, 255, 255);
}

.fa:hover {
  color: rgb(0, 98, 155);
  transition-duration: .3s;
}

.footer {
  text-align: center;
}

.footer-seperator {
  padding-bottom: 4%;
}

#footerList:after {
  content: normal !important;
}

.footer-list-item {
  margin-bottom: 0 !important;
}

.footer-text {
  font-size: 1.4em;
  color: rgb(255, 255, 255);
}

.list-unstyled {
  text-align: center;
  margin-bottom: 0 !important;
}
