/* ====================
 * Filename: splash.css
 * Author: Antony Nguyen
 * Date Last Updated: September 20, 2018
 * Media: Screen
 * ----------
 * File for the splash screen section on the website's home page
 * TODO: Mobile optimize font sizes
 ====================== */

/* Splash Screen  */

.splash {
  padding: 0 !important;
  margin: 0 !important;
}

.splash-container {
  position: absolute;
  top: 40vh;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.splash-text {
  font-size: 8em !important;
  text-shadow: 2px 2px 40px rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

/* Splash Join Staff Button */

.join-button, .join-button:hover, .join-button:active, .join-button:focus {
  outline: none !important;
  font-size: 3em;
  border-radius: 10px;
  line-height: 1.6em;
  box-shadow: 2px 2px 40px rgb(50, 50, 50);
  min-width: 20vw;
}

.join-button:hover {
  transform: scale(1.04);
  transition-duration: .25s;
}

.join-button:active {
  transform: translateY(2px);
  transition-duration: .25s;
}

a .join-button {
  color: black;
}

/* Splash Screen Carousel */

.carousel-inner {
  position: relative;
  background-color: blue;
  border-bottom-left-radius: 80% 10%;
  border-bottom-right-radius: 80% 10%;
}

.carousel-inner .item {
  height: 110vh;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-background-position: center;
  -moz-background-position: center;
  -o-background-position: center;
  background-position: center;

  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
}

/* Splash Screen Individual Images */

.slide1 {
    background: url('../../resources/images/splash/Splash1.jpg');
}

.slide2 {
  background: url('../../resources/images/splash/Splash2.jpg');
  -webkit-filter: brightness(.75);
  filter: brightness(.75);
}
